{% extends 'mainpage/base.html' %}
{% load tagger %}

{% block title %} Animal and veterinary event  {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=unique_aer_id_number">Unique AER ID Number</a></li>
            <li><a class="dropdown-item" href="?order_by=report_id">Report Id</a></li>
            <li><a class="dropdown-item" href="?order_by=type_of_information">Type of information</a></li>
            <li><a class="dropdown-item" href="?order_by=upload_at">Date added</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Unique AER ID Number</th>
            <th>Report Id</th>
            <th>Type of information</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td>
                    <a href="{% url 'fda_animalandveterinary_event_data' context_data|get_id:forloop.counter0 %}">{{ obj.unique_aer_id_number }}</a>
                </td>
                <td>{{ obj.report_id}}</td>
                <td>{{ obj.type_of_information }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}