{% extends 'mainpage/base.html' %}
{% load tagger %}

{% block title %} Device Registration Listings {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=registration_number">Registration Number</a></li>
            <li><a class="dropdown-item" href="?order_by=fei_number">Fei Number</a></li>
            <li><a class="dropdown-item" href="?order_by=name">Name</a></li>
            <li><a class="dropdown-item" href="?order_by=upload_at">Date added</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Registration Number</th>
            <th>Fei Number</th>
            <th>Name</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td>
                    <a href="{% url 'fda_device_registration_listings_data' context_data|get_id:forloop.counter0 %}">{{ obj.registration.registration_number }}</a>
                </td>
                <td>{{ obj.registration.fei_number }}</td>
                <td>{{ obj.registration.name }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}