{% extends 'mainpage/base.html' %}

{% block title %} Drug NDC data{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    <table class="table table-bordered">
        {% for key, value in context_data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}