{% extends 'mainpage/base.html' %}
{% load tagger %}

{% block title %} Food Enforcement {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=recall_number">Recall Number</a></li>
            <li><a class="dropdown-item" href="?order_by=event_id">Event ID</a></li>
            <li><a class="dropdown-item" href="?order_by=recalling_firm">Recalling Firm</a></li>
            <li><a class="dropdown-item" href="?order_by=upload_at">Date added</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Recall Number</th>
            <th>Event ID</th>
            <th>Recalling Firm</th>
            <th>Termination Date</th>
            <th>Recall Initiation Date</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td>
                    <a href="{% url 'fda_food_enforcement_data' context_data|get_id:forloop.counter0 %}">{{ obj.recall_number }}</a>
                </td>
                <td>{{ obj.event_id }}</td>
                <td>{{ obj.recalling_firm }}</td>
                <td>{{ obj.termination_date}}</td>
                <td>{{ obj.recall_initiation_date }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}