{% extends 'mainpage/base.html' %}

{% block title %} Device UDI {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=public_device_record_key">Public Device Record Key</a></li>
            <li><a class="dropdown-item" href="?order_by=device_description">Device Description</a></li>
            <li><a class="dropdown-item" href="?order_by=brand_name">Brand Name</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Public Device Record Key</th>
            <th>Device Description</th>
            <th>Brand Name</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td><a href="{% url 'fda_device_udi_data' obj.id %}">{{ obj.public_device_record_key }}</a></td>
                <td>{{ obj.device_description }}</td>
                <td>{{ obj.brand_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}