{% extends 'mainpage/base.html' %}
{% load tagger %}

{% block title %} Other substance {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=uuid">UUID</a></li>
            <li><a class="dropdown-item" href="?order_by=unii">UNII</a></li>
            <li><a class="dropdown-item" href="?order_by=substance_class">Substance Class</a></li>
            <li><a class="dropdown-item" href="?order_by=upload_at">Date added</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UUID</th>
            <th>UNII</th>
            <th>Substance Class</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td>
                    <a href="{% url 'fda_other_substance_data' context_data|get_id:forloop.counter0 %}">{{ obj.uuid }}</a>
                </td>
                <td>{{ obj.unii }}</td>
                <td>{{ obj.substance_class }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}