{% extends 'mainpage/base.html' %}
{% load tagger %}

{% block title %} Other NSDE {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=proprietary_name">Proprietary Name</a></li>
            <li><a class="dropdown-item" href="?order_by=application_number_or_citation">Application_number</a></li>
            <li><a class="dropdown-item" href="?order_by=application_package_ndc">Package NDC</a></li>
            <li><a class="dropdown-item" href="?order_by=upload_at">Date added</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Proprietary Name</th>
            <th>Application_number</th>
            <th>Package NDC</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td>
                    <a href="{% url 'fda_other_nsde_data' context_data|get_id:forloop.counter0 %}">{{ obj.proprietary_name }}</a>
                </td>
                <td>{{ obj.application_number_or_citation }}</td>
                <td>{{ obj.package_ndc }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}