{% extends 'mainpage/base.html' %}

{% block title %} USPTO {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    <div class="dropdown">
        <a class="btn btn" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Order by
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="?order_by=patent_application_number">Patent Application Number</a></li>
            <li><a class="dropdown-item" href="?order_by=invention_title">Invention Title</a></li>
        </ul>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Patent Application Number</th>
            <th>Invention Title</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in context_data %}
            <tr>
                <td><a href="{% url 'uspto_patent_data' obj.id %}">{{ obj.patent_application_number }}</a></td>
                <td>{{ obj.invention_title }}</td>
                <td>{{ obj.upload_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock %}