{% extends 'mainpage/base.html' %}

{% block title %}
    NPPES INDIVIDUAL
{% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
    {% include 'mainpage/counter.html' %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>NPI</th>
            <th>Business name</th>
            <th>Date added</th>
        </tr>
        </thead>
        <tbody>
        {% for data in dataset %}
            <tr>
                <td><a href="{% url 'hhs_data' data.npi %}">{{ data.npi }}</a></td>
                <td>{{ data.data.provider_organization_name__legal_business_name_ }}</td>
                <td>{{ data.upload_at }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% include 'mainpage/paginator.html' %}
{% endblock content %}