{% extends 'mainpage/base.html' %}

{% block title %} Companies data {% endblock %}

{% block content %}


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Main page</a>
    </div>

</nav>

{% include 'mainpage/counter.html' %}
<br>
<form action="/sec/sec_company_fillings_search" , method="get">
    <div class="input-group">
        <div class="col-xs-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter CIK" aria-label="Search" , name="cik">
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</form>
<br>

<a href="?order_by=name">Order my name</a><br>
<a href="?order_by=cik">Order by cik</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Company name</th>
        <th>CIK</th>
        <th>EIN</th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
        <tr>
            <td><a href="/sec/sec_company_fillings/{{ company.cik }}"> {{ company.name }}</a></td>
            <td>{{ company.cik }}</td>
            <td>{{ company.ein }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'mainpage/paginator.html' %}
{% endblock %}