{% extends 'mainpage/base.html' %}
{% block title %} Companies data {% endblock %}
{% block content %}
    <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Company name</th>
            <th>CIK</th>
            <th>EIN</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="/sec/sec_company_fillings/{{ company.cik }}"> {{ company.name }}</a></td>
                <td>{{ company.cik }}</td>
                <td>{{ company.ein }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}