<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Company data</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Main page</a>
        </div>
    </nav>
<!--    <table class="table table-bordered">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <td>{{dataset.name}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>CIK</th>-->
<!--            <td>{{dataset.cik}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>EIN</th>-->
<!--            <td >{{dataset.ein}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Phone</th>-->
<!--            <td>{{dataset.phone}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Addresses</th>-->
<!--            <td>-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td>Mailing :</td>-->
<!--                        <td><table>-->
<!--                            <tr></tr>-->
<!--                        </table></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Business:</td>-->
<!--                        <td>inner Table row 2 column 2</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>>-->
<!--        </tr>-->




<!--        </tbody>-->
<!--    </table>-->
<!--    <table class="table table-bordered">-->
<!--        <tbody>-->
<!--        {% for key, value in dataset.items %}-->
<!--            {% if not value.items %}-->
<!--                {% if key != 'formerNames'%}-->
<!--                <tr>-->
<!--                    <td>{{key}}</td>-->
<!--                    <td>{{value}}</td>-->
<!--                </tr>-->
<!--                {% else %}-->
<!--                <tr>-->
<!--                    <td>{{key}}</td>-->
<!--                    <td>-->
<!--                        <table>-->
<!--                            {% for name in value %}-->
<!--                            <td>{{name}}</td>-->
<!--                            {% endfor %}-->
<!--                        </table>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->


<!--        </tbody>-->
<!--    </table>-->
    <table class="table table-bordered">
        <tbody>
        {% for key, value in dataset.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}


        </tbody>
    </table>

</body>
</html>