<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Medical Trials</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Main page</a>
    </div>
  </nav>
{#  <a>Updated: {{updated_time}}</a><br>#}
{#  <a>New companies: {{count_new_companies}}</a><br>#}
{#  <a>The parser is updated: every 12 hours</a><br>#}
  <a>Count organizations: {{ count }}</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Organization</th>
      </tr>
    </thead>
    <tbody>
      {% for id,organization in dataset %}
        <tr>
            <td><a href="medical_trials/{{ id }}">{{ organization }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if dataset.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ dataset.previous_page_number }}">Previous</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}

    {% if dataset.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ dataset.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in dataset.paginator.page_range %}
        {% if dataset.number == i %}
            <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
          </span>
        </li>
        {% elif i > dataset.number|add:'-5' and i < dataset.number|add:'5' %}
             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if dataset.paginator.num_pages > dataset.number|add:'4' %}
       <li class="page-item"><a class="page-link" href="?page={{ dataset.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if dataset.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ dataset.next_page_number }}">Next</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--end of Pagination-->
</body>
</html>