<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>HHS</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Main page</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/nppes_data_search" class="form-inline my-2 my-lg-0", method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter NPI" aria-label="Search", name="NPI">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
<a class="btn btn-primary" href="nppes_data/individual/" role="button">Indiviual</a>
<a class="btn btn-primary" href="nppes_data/entities/" role="button">Entity</a>

</body>
</html>