<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/action_page">
    <label for="cars">Choose parser:</label>
    <select id="parsers" name="parsers">
        <option value="SEC Company Tickers">SEC Company Tickers</option>
        <option value="SEC Company Fillings">SEC Company Fillings</option>
        <option value="NPI (third-party sources)">NPI (third-party sources)</option>
        <option value="HHS">HHS</option>
        <option value="Clinical Trials">Clinical Trials</option>
    </select>
    <input type="text" id="cik" name="cik" placeholder="cik"><br><br>
    <input type="submit">
</form>
</body>
</html>