<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Companies data</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Main page</a>
    </div>
    </div>
</nav>
<a>Updated: {{ updated_time }}</a><br>
<a>New companies: {{ count_new_companies }}</a><br>
<a>The parser is updated: every 12 hours</a><br>
<a>Count records: {{ count_records }}</a><br>

{#<a href="{% url 'sec_company_fillings'%}?sort=name">Name </a>#}
{##}
{#<form action="{% url 'sec_company_fillings' %}" class="sort__form" method="GET">#}
{#    <h1 class="sort__header"> SORT ITEMS </h1>#}
{#    <select class="sort__select" name="select">#}
{#        <option disabled selected> Sorting method</option>#}
{#        <option  value="v1">Price: low to high</option>#}
{#        <option selected value="v2">Price: high to low</option>#}
{#    </select>#}
{#    <button class="sort__submit">SORT</button>#}
{#</form>#}

<a href="?order_by=name">Order my name</a><br>
<a href="?order_by=cik">Order by cik</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Company name</th>
        <th>CIK</th>
        <th>EIN</th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
        <tr>
            <td><a href="/companies_data/{{ company.cik }}"> {{ company.name }}</a></td>
            <td>{{ company.cik }}</td>
            <td>{{ company.ein }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if dataset1.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ dataset1.previous_page_number }}&order_by={{ order_by }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
            </li>
        {% endif %}

        {% if dataset1.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ dataset1.number|add:'-5' }}&order_by={{ order_by }}">&hellip;</a></li>
        {% endif %}

        {% for i in dataset1.page_range %}
            {% if dataset1.number == i %}
                <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
          </span>
                </li>
            {% elif i > dataset1.number|add:'-5' and i < dataset1.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if dataset1.num_pages > dataset1.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ dataset1.number|add:'5' }}&order_by={{ order_by }}">&hellip;</a></li>
        {% endif %}

        {% if dataset1.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ dataset1.next_page_number }}&order_by={{ order_by }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
</body>
</html>